<div class="container">
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="post_form">
        
            <h1>プロフィール編集</h1>
            <%= form_for(@user) do |f| %>
            <div>
            <h2>プロフィール</h2>
            <%= f.file_field :user_image %>
            </div>
            <div>
            <h2>ユーザー名</h2>
            <%= f.text_field :name %>
            </div>
            <div>
            <h2>自己紹介</h2>
            <%= f.text_area :introduction %>
            </div>
            <div>
            <%= f.submit '保存', class: "btn btn-primary"%>
            </div>
            <% end %>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
</div>